.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  text-align: center;
  color: white;
  &__content {
    max-width: 90vw;
    max-height: 90vh;
    h2 {
      border-bottom: 5px solid white;
      line-height: 1.4;
      font-size: 48px;
      margin: 0;
      @media screen and(min-width: $medium) {
        font-size: 144px;
      }
    }
    h3 {
      font-size: 24px;
      @media screen and(min-width: 767px) {
        font-size: 48px;
      }
    }
  }
  &__actions {
    margin-top: 4rem;
    a {
      display: block;
      font-size: 32px;
      color: white;
      text-decoration: none;
      margin-bottom: 2rem;
      @media screen and(min-width: 767px) {
        font-size: 64px;
      }
    }
  }
}
