* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white-color;
  font-family: $lato-font;
}

body {
  background-image: url(#{$background-image-path});
  background-size: cover;
}

.main {
  min-height: 100vh;
  background-color: $black-light-color;
  display: flex;
  width: 90vw;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  @media screen and (min-width: $l-breakpoint) {
    width: 65vw;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &__title {
    font-size: $m-font-size-mobile;
    font-weight: 700;
    padding: 0 10px 10px 10px;
    border-bottom: 5px solid $white-color;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    @media screen and (min-width: $m-breakpoint) {
      font-size: $l-font-size-desktop;
    }
  }

  &__instruction {
    width: 90%;
    text-align: center;
    font-size: $xxs-font-size-mobile;
    @media screen and(min-width: $m-breakpoint) {
      font-size: $xs-font-size-desktop;
    }
  }
}

.return {
  align-self: flex-end;
  font-size: $s-font-size-mobile;
  margin-bottom: 5%;
  margin-right: 5%;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  @media screen and(min-width: $m-breakpoint) {
    font-size: $s-font-size-desktop;
    &:hover {
      transform: scale(1.3);
    }
  }
}
