.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white-color;
    z-index: 999;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 15px;
      right: 15px;
      bottom: 0;
      background-color: $black-dark-color;
      @media screen and (min-width: $m-breakpoint) {
        left: 45px;
        right: 45px;
      }
  }
}
.button{
  all: none;
  font-family: $xl-font-size-desktop;
  width: 30px;
  height: 75px;
  background-color: black;
  color: #fff;
  border: 0;
  transition: all 0.25s ease;
  &:hover {
    background-color: rgba(73, 73, 73, 0.151);
    color: white;
  }
  &.invisible{
    visibility: hidden;
  }
}
.slide{
  width: 400px;
  height: 400px;
  margin: 40px 10px 40px 10px;
}
img{
  width: 400px;
  height: 400px;
}
.slider{
  z-index: 1001;
  display: flex;
  align-items: center;
  & h2, h3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
  }
}

.easter-egg{
  .return{
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: $white-color;
    &:hover {
      border-bottom: 2px $white-color solid;
      transform: scale(1.3);
    }
  }
}
.hidden{
  display: none;
}