
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
$family-font: 'Lato';
$color-main-font:#fff;
$font-size-main:60px;
$background-pop:rgba(0,0,0,0.4);
$link-github:25px;
$font-size-small-media:40px;
$small-breakpoint:940px;
$background-image-path:"../src/static/wave-background.png";

