@import "./variables.scss";

@import "./styles.scss";


.logo {
    padding: 40px 0;
    }

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 50px;
    background-color: $black-light-color;
    width: 35vw;
    height: 100vh;
    color: $white-color;
    font-family: $lato-font;
    @media screen and(max-width: $l-breakpoint) {
    width: 45vw;
    }
    @media screen and(max-width: $m-breakpoint) {  
    left: 10vw;
    width: 80vw;
    }
}
.menu {
    flex-basis: 70vh;
    &__item {
        list-style: none;
        text-align: center;
    }
    &__link {
        display: block;
        text-decoration: none;
        color: $white-color;
        font-size: $l-font-size-mobile;
        font-weight: bold;
        margin: 10px 0;
        transition: 0.2s;
        @media screen and(min-width: $l-breakpoint) {
            font-size: $m-font-size-desktop;
                        }
        &--line:hover {
            border-bottom: 4px $white-color solid;
            transform: scale(1.3);
            padding-bottom: 10px;
        }
    }
}